<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Cycle_ Map</title>

    <link rel="stylesheet" href="assets/css/app.css" media="all">
    <link rel="stylesheet" href="assets/css/style.css" media="all">
		
    <script>
    /* <![CDATA[ *//* Enable Javascript */
     ;(function(html) {
      html.className = html.className.replace(/\bno-js\b/, "js")
     })(document.documentElement);
    /* ]]> */
    </script>
  </head>
  <body ng-app="starterApp"
    layout="row"
    data-ng-controller="UserController as ul"
    data-ng-cloak>


  <!-- Application sidebar content
  ============================================== -->
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')">

    <header role="banner"
      class="nav-header md-whiteframe-z2"
      layout="column"
      layout-align="center center"
      layout-padding>

      <div class="logo-container"><figure class="logo" id="logo"></figure></div>
      <script>/* <![CDATA[ *//* Event Listener Reload Window */
        ;(function(window, document) {
          'use strict';
          var document = window.document;
          document.getElementById('logo')
            .addEventListener('click', function(event) {
              window.location.href = '/';
            });
        })(this, document, 0);
      /* ]]> */</script>
      <h2 class="logo-h2 md-heading">CyclePhilly</h2>
      <div layout="row">
        <md-icon md-font-icon="{{ul.weather.icon.name}}"
           ng-style="{color: ul.weather.icon.color}"
           ng-class="md-warn"
           alt="weather Icon"
           class="step">
        </md-icon>
        <section class="logo-temp-wrapper"><p>
            <span>{{ul.weather.temperature}}</span>
            <span>&deg;</span>
        </p></section>
      </div>
    </header>
    <md-divider><!-- decorative marker --></md-divider>

  <md-subheader class="md-no-sticky">Bike Layers</md-subheader>

  <md-list-item  ng-click="navigateTo(setting.extraScreen, $event)">
  <md-switch  ng-model="ul.layers.indego.enabled" class="md-primary"></md-switch>
    <md-icon md-svg-icon="{{ul.layers.indego.icon}}"></md-icon>
    <p> {{ ul.layers.indego.name }} </p>
    
  </md-list-item>

  <md-list-item >
  <md-switch ng-change="ul.toggleRoutes(ul.layers.routes.enabled)"  ng-model="ul.layers.routes.enabled" class="md-primary md-hue-2"></md-switch>
    <md-icon md-svg-icon="{{ul.layers.routes.icon}}"></md-icon>
    <p> {{ ul.layers.routes.name }} </p>
    
  </md-list-item>

  <md-list-item  ng-click="navigateTo(setting.extraScreen, $event)">
  <md-switch  ng-model="ul.layers.racks.enabled" ng-change="ul.onRackSwitch(ul.layers.racks.enabled)"  class="md-accent"></md-switch>
    <md-icon md-svg-icon="{{ul.layers.racks.icon}}"></md-icon>
    <p> {{ ul.layers.racks.name }} </p>
    
  </md-list-item>

  
  
  <md-divider></md-divider>
  <md-subheader class="md-no-sticky">My Trips</md-subheader>

  <md-list>
    <!-- <md-list-item ng-click="ul.logOut()" ng-hide="ul.loggedOut">

    <md-icon md-font-icon="icon-exit"
                   ng-style="{'font-size': '24px', height: '24px'}"
                   ng-class="md-accent"
                   alt="print">
          </md-icon>
    <p>Logout</p>
    <img ng-src="{{ul.user.image}}" ng-style="{height: '24px'}" />
<md-divider></md-divider>
    
  </md-list-item> -->
  
  <md-list-item ng-repeat="set in ul.user.favorites | limitTo:3" ng-click="goToDatSet(set.name, $event)">
    <img alt="{{ set.name }}" ng-src="{{ set.img }}" class="md-avatar" />
    <p>{{ set.name }}</p>
    <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': set.newMessage}"></md-icon>
  </md-list-item>
  <md-list-item ng-click="ul.githubLogin()" ng-show="ul.loggedOut">
    <md-icon md-font-icon="icon-github"
                   ng-style="{'font-size': '24px', height: '24px'}"
                   ng-class="md-accent"
                   alt="print">
          </md-icon>
    <p>Log In</p>
    
  </md-list-item>
    </md-list>
  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar style="min-height: 50px;" layout="row" class="md-whiteframe-z1" layout-align="center center">
      <md-button class="md-icon-button menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <md-button ng-click="ul.toggleMode('bike')"
                 title="Toggle bikes"
                 ng-disabled="false"
                 aria-label="Bikes"
                 class="md-icon-button launch" >
          <md-icon md-font-icon="{{ul.weather.icon}}"
                   ng-style="{'font-size': '24px', height: '24px',color: 'ul.bikeColor'}"
                   ng-class="md-accent"
                   alt="print">
          </md-icon>
      </md-button>
      <div flex="55" class="weather-text">
        <span style="font-size:13px">{{ul.weather.summary}}</span>
      </div>
      <span flex></span>
      <md-icon md-font-icon="icon-more_vert"
               ng-style="{'font-size': '24px', height: '24px'}"
               ng-class="md-accent"
               ng-click="ul.test($event)"
               alt="print">
      </md-icon>
      <span flex="5"></span>
    </md-toolbar>
    <div layout="row" style="min-height:45px">
    <h3 layout-margin>Ride Indego - Nearby Stations</h3>
  </div>
    <md-content layout="row" layout-align="start start" layout-margin class="md-whiteframe-z3" style="padding-bottom:10px;margin-bottom:5px;height:280px;background-color: #EFEFEF;" layout-fill>
<md-list style="min-width:320px;max-width: 400px;" layout-fill >
  
  <md-list-item class="md-2-line md-no-sticky" ng-repeat="station in selectedItems" layout-fill>
    <!-- <img alt="{{ station.name }}" ng-src="assets/indego-light.png" class="md-avatar avatar" /> -->
    <div layout-padding style="min-width:150px">
      <br>
      {{station.properties.name}}<br>
      <small><strong>Station ID:</strong> {{station.properties.kioskId}}</small><br>
      
    </div>
        <div class="md-list-item-text">
          <div layout="row" layout-fill>
            <span flex="5"></span>
            <p style="font-size:1.1em;text-align:center">Bikes</p>
                   <span flex="15"></span>
                   <p style="font-size:1.1em">Docks</p>
                 </div>
          <div layout="row" layout-fill>
            <span flex="5"></span>
            <md-button style="padding-left:8px" class="md-fab md-mini md-primary" aria-label="Eat cake">
              <span style="padding-left:5px">{{station.properties.bikesAvailable}}</span>
            </md-button>
        <span flex="10"></span>
        <md-button style="padding-left:8px" class="md-fab md-mini md-accent md-hue-2" aria-label="Eat cake">
            <span style="padding-left:5px"> {{station.properties.docksAvailable}}</span>
        </md-button>
            <!-- <md-icon md-font-icon="icon-mode_comment"
                   ng-style="{'font-size': '24px', height: '24px'}"
                   ng-class="md-accent"
                   ng-click="ul.test($event)"
                   alt="print"></md-icon>
                   <span flex="25"></span>
                   <md-icon md-font-icon="icon-mode_comment"
                   ng-style="{'font-size': '24px', height: '24px'}"
                   ng-class="md-accent"
                   ng-click="ul.test($event)"
                   alt="print"></md-icon> -->
                 </div>
        </div>
  </md-list-item>



  <!-- Docking Stations near you container
  ============================================== -->
  <md-list-item layout-fill
    style="background-color:#FFF;margin: 8px 8px;"
    class="md-2-line md-no-sticky md-whiteframe-z1"
    data-ng-repeat="station in sortedIndego">
    
     <div layout-padding style="min-width:150px;max-width:160px">
       <br>{{station.properties.name}}<br>
       <small><strong>Station ID:</strong> {{station.properties.kioskId}}</small><br>
       <small>{{station.distance}}m away</small><br>
     </div>

     <div class="md-list-item-text">

       <div layout="row" layout-fill>
         <span flex="5"></span>
         <p style="font-size:1.1em;text-align:center">Bikes</p>
         <span flex="15"></span>
         <p style="font-size:1.1em">Docks</p>
       </div>
    
     <div layout="row" layout-fill>
       <md-button
         class="md-fab md-mini md-primary"
         aria-label="Eat cake"
         data-station-popup="bikes">
        
         <span style="padding-left:5px"> {{station.properties.bikesAvailable}}</span>
       </md-button><!-- total-number-of-bikes-btn -->
       <span flex="10"><!--
         This is a span, remove soon ...
       --></span>
       <md-button
         class="md-fab md-mini md-accent md-hue-2"
         aria-label="Eat cake"
         data-station-popup="docks">

         <span style="padding-left:5px">{{station.properties.docksAvailable}}</span>
       </md-button><!-- total-number-of-docks-btn -->
       <script>
         /* <![CDATA[ *//* Station PopUp Script */
           ;(function(window, document) {
             "use strict";
            
             var document = window.document;

             function loadContent(event) {
              
               // Initialize the popup click event
               $("[data-station-popup='bikes']").on("click", function(event) {
                
               });
              
              
               //$("[data-station-popup='docks']").hide();
             }
            
             if (document.readyState == "complete" || document.readyState == "loaded")
               window.addEventListener("load", loadContent)
             else
               window.addEventListener("DOMContentLoaded", loadContent)
           })(this, document, 0);
         /* ]]> */
       </script>
     </div>
    </div>
  </md-list-item>
 </md-list>




<span flex></span>


</md-content>

  <div id="map-canvas">
</div>




  </div>
  
  <div class="lock-size" layout="row" layout-align="center center">
      <md-fab-speed-dial md-open="false" md-direction="up"
                         ng-class="md-fling">
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-font-icon="icon-timer"
           ng-style="{color: ul.weather.icon.color,height:'30px','font-size':'30px' }"
           ng-class="md-warn"
           alt="weather Icon"
           class="step ">
         </md-icon>
          </md-button>
        
      </md-fab-speed-dial>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBfdI61qNxrgQ2qqXXyIKjMbRdi19HkjtY&libraries=places"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.js"></script>
    <script src="//cdn.firebase.com/js/client/2.1.2/firebase.js"></script>

    <!-- AngularFire -->
    <script src="//cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="//cdn.jsdelivr.net/rsvp/3.0.6/rsvp.js"></script>
    <script src="//cdn.firebase.com/libs/geofire/3.2.2/geofire.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-messages.js"></script>
    
    <script src="./src/lodash.js"></script>
    <script src="./src/geolocationmarker-compiled.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/mapController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users','firebase'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.definePalette('amazingPaletteName', {
    '50': 'ffebee',
    '100': 'ffcdd2',
    '200': 'ef9a9a',
    '300': 'e57373',
    '400': 'ef5350',
    '500': 'f44336',
    '600': '00ff00',
    '700': 'd32f2f',
    '800': 'c62828',
    '900': '1A237E',
    'A100': 'ff8a80',
    'A200': 'ff5252',
    'A400': 'ff1744',
    'A700': 'd50000',
    'contrastDefaultColor': 'light',    // whether, by default, text (contrast)
                                        // on this palette should be dark or light
    'contrastDarkColors': ['50', '100', //hues which contrast should be 'dark' by default
     '200', '300', '400', 'A100'],
    'contrastLightColors': undefined    // could also specify this if default was 'dark'
  });
                      $mdThemingProvider.theme('default')
                          .primaryPalette('amazingPaletteName', {
                            'default': '900', // by default use shade 400 from the pink palette for primary intentions
                            'hue-1': '100', // use shade 100 for the <code>md-hue-1</code> class
                            'hue-2': '600', // use shade 600 for the <code>md-hue-2</code> class
                            'hue-3': 'A100' // use shade A100 for the <code>md-hue-3</code> class
                          })
                          .accentPalette('grey',{
                            'default': '900', // by default use shade 400 from the pink palette for primary intentions
                            'hue-1': '100', // use shade 100 for the <code>md-hue-1</code> class
                            'hue-2': '600', // use shade 600 for the <code>md-hue-2</code> class
                            'hue-3': 'A100' // use shade A100 for the <code>md-hue-3</code> class
                          });

                       $mdThemingProvider.theme('green')
                          .primaryPalette('light-green', {
                            'default': '600', // by default use shade 400 from the pink palette for primary intentions
                            'hue-1': '100', // use shade 100 for the <code>md-hue-1</code> class
                            'hue-2': '600', // use shade 600 for the <code>md-hue-2</code> class
                            'hue-3': 'A100' // use shade A100 for the <code>md-hue-3</code> class
                          })
                          .accentPalette('grey',{
                            'default': '900', // by default use shade 400 from the pink palette for primary intentions
                            'hue-1': '100', // use shade 100 for the <code>md-hue-1</code> class
                            'hue-2': '600', // use shade 600 for the <code>md-hue-2</code> class
                            'hue-3': 'A100' // use shade A100 for the <code>md-hue-3</code> class
                          });

              });

    </script>

  </body>
</html>
